.header {
    background: url(../images/header.jpg) no-repeat top center;
    background-size: cover;
    height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        text-transform: uppercase;
        font-family: 'Josefin Sans';
        font-size: 50px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.54;
        letter-spacing: 4.8px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 15px;
    }

    &__second-title {
        font-family: 'Josefin Sans';
        font-size: 21px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: 6.82px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 50px;
    }

    &__form {
        font-size: 0;
        display: flex;
        flex-direction: row;

    }

    &__input {
        width: 500px;
        height: 60px;
        background-color: #ffffff;
        font-family: 'Josefin Sans';
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.86;
        letter-spacing: 2.8px;
        text-align: center;
        color: #999999;

        &::placeholder {
            opacity: .5;
        }
    }

    &__submit {
        width: 150px;
        height: 60px;
        border: solid 2px #ffffff;
        background-color: #5474fd;
        position: relative;
    }

    &__search-text {
        text-transform: uppercase;
        font-family: 'Aleo';
        margin-right: 20px;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.86;
        letter-spacing: 1.4px;
        text-align: center;
        color: #ffffff;
    }

    &__search-logo {
        position: absolute;
        right: 12px;
        top: 12px;
    }

    &__scroll-down {
        margin-top: 120px;
    }

    &__scroll-down {
        @include f-center;
        flex-direction: column;
    }

    &__scroll-text {
        font-family: 'Josefin Sans';
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.86;
        letter-spacing: 2.8px;
        text-align: center;
        color: #ffffff;
    }
}

.head__scroll-logo {
    fill: white;
    width: 20px;
}